# 3rd Assignment - IPO Stock Add on

## Observing stock strategy using logistic regression and feature engineering

In [18]:
% matplotlib inline
import pandas as pd
from sklearn import datasets

In [2]:
df = pd.read_csv('ipo_scoop.csv', usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], skiprows=2, names=['date', 'issuer', 'symbol', 'managers', 'offer_price', 'open_price', 'first_day_close', 'first_day_pctchg', 'dollar_change_open', 'dollar_change_close', 'star_rating', 'performed'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 12 columns):
date                   3123 non-null object
issuer                 3123 non-null object
symbol                 3123 non-null object
managers               3123 non-null object
offer_price            3123 non-null object
open_price             3123 non-null object
first_day_close        3123 non-null object
first_day_pctchg       3123 non-null object
dollar_change_open     3123 non-null object
dollar_change_close    3123 non-null object
star_rating            3123 non-null object
performed              357 non-null object
dtypes: object(12)
memory usage: 294.6+ KB

In [4]:
df.columns

Index(['date', 'issuer', 'symbol', 'managers', 'offer_price', 'open_price',
       'first_day_close', 'first_day_pctchg', 'dollar_change_open',
       'dollar_change_close', 'star_rating', 'performed'],
      dtype='object')

In [5]:
df.head()

,date,issuer,symbol,managers,offer_price,open_price,first_day_close,first_day_pctchg,dollar_change_open,dollar_change_close,star_rating,performed
0,2/16/18,Farmmi,FAMI,ViewTrade Securities,$4.00,$4.40,$6.18,54.50%,$0.40,$2.18,N/C,NaN
1,3/16/18,Senmiao Technology,AIHS,ViewTrade Securities,$4.00,$5.51,$5.56,39.00%,$1.51,$1.56,1,Missed
2,3/20/18,Golden Bull,DNJR,ViewTrade Securities,$4.00,$5.20,$4.62,15.50%,$1.20,$0.62,N/C,NaN
3,2/14/18,Motus GI Holdings,MOTS,Piper Jaffray/ Oppenheimer,$5.00,$5.00,$4.38,-12.40%,$0.00,-$0.62,1,NaN
4,2/1/18,One Stop Systems,OSS,Roth Capital Partners,$5.00,$5.55,$4.88,-2.40%,$0.55,-$0.12,1,NaN

In [6]:
df[df['symbol'] == 'MOTS'] 
#A possible way to find the Motus GI Holdings, and to display its features

,date,issuer,symbol,managers,offer_price,open_price,first_day_close,first_day_pctchg,dollar_change_open,dollar_change_close,star_rating,performed
3,2/14/18,Motus GI Holdings,MOTS,Piper Jaffray/ Oppenheimer,$5.00,$5.00,$4.38,-12.40%,$0.00,-$0.62,1,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 12 columns):
date                   3123 non-null object
issuer                 3123 non-null object
symbol                 3123 non-null object
managers               3123 non-null object
offer_price            3123 non-null object
open_price             3123 non-null object
first_day_close        3123 non-null object
first_day_pctchg       3123 non-null object
dollar_change_open     3123 non-null object
dollar_change_close    3123 non-null object
star_rating            3123 non-null object
performed              357 non-null object
dtypes: object(12)
memory usage: 294.6+ KB

In [8]:
df['star_rating'] = df['star_rating'].astype('float')

ValueError: could not convert string to float: 'N/C'

In [9]:
df['success_rate'] = df['star_rating'] + df['performed']
#the performance and rating of a stock can indicate possible success rates

In [10]:
df['initial_rate'] = df['offer_price'] + df['open_price']
#the initial rate is a combo of stock current price and opening available price

In [11]:
df.groupby(df.date.dt.year)['open_price'].mean()
#i want to see the opening price change?

AttributeError: Can only use .dt accessor with datetimelike values

In [12]:
#make a histogram of avg. opening prices of Motus

mots = datasets.load_mots()

In [43]:
df = pd.read_html('https://finance.yahoo.com/quote/MOTS/history?p=MOTS.html')

In [46]:
mots = load_datasets.MOTS()

NameError: name 'load_datasets' is not defined

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [45]:
X = mots['open_price'].values.reshape(-1,1)
y = mots['star_rating']
lr = LogisticRegression
lr.fit(X,y)

NameError: name 'mots' is not defined

In [ ]:
lr.score(X,y)

In [ ]:
lr.coef_

In [ ]:
predictions = lr.predict(X)
print(classification_report(y, predictions))
#this part predicts and gives us the f1 score andf mean

In [ ]:
confusion_matrix(y, predictions)